.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/michaelhefner.com/FileContentIndex/d90b915b-8486-49e1-8cab-4a85d2c1ba0a.vsidx
.vs/michaelhefner.com/FileContentIndex/read.lock
.vs/michaelhefner.com/config/applicationhost.config
.vs/michaelhefner.com/v17/.wsuo
